<input [(ngModel)]="taskText" type="text">
<input [(ngModel)]="searchQuery" type="text" placeholder="Search...">
<button (click)="addTask()" [disabled]="!this.taskText()">Add</button>

@for(task of filteredTasks(); track task.id) {
  <li>{{task.id}} {{ task.text }}</li>
  <button type="button" (click)="deleteTask(task.id)">Delete</button>
} @empty {
  <p>No tasks yet</p>
}


<div #hoveredArea class="hovered-area">Hover over to load this component!</div>

@defer (on hover(hoveredArea)) {
  <app-profile-editor></app-profile-editor>
} @placeholder {
  <p>Component is loading...</p>
} @loading {
  <p>Loading...</p>
} @error {
  <p>Oh no 😀</p>
}