 <nav>
  <ul>
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Головна
      </a>
    </li>

    <li>
      <a
        routerLink="reactive"
        routerLinkActive="active"
      >
        Reactive Form
      </a>
    </li>

    <li>
      <a
        routerLink="users"
        routerLinkActive="active"
      >
        Users
      </a>
    </li>

    <li>
      <a
        routerLink="task"
        routerLinkActive="active"
      >
        Tasks
      </a>
    </li>
  </ul>
</nav>

<app-parent />

<router-outlet></router-outlet>